.chat-side
  .side-header
    .side-header__box
      = link_to "#",class:"side-header__box__user-name" do
        masa
      %ul.side-header__box__menu
        %li.side-header__box__menu__new-group
          = link_to "#" do
            = icon('fas', 'edit')
        %li.side-header__box__menu__edit-account
          = link_to "#" do
            = icon('fas', 'cog')
  .groups
    = link_to "#", class:"aaa" do
      .group
        %p.group__group-name
          techcamp
        %p.group__latest-message
          まだメッセージがありません。
    = link_to "#", class: "group" do
      %p.group__group-name
        テスト
      %p.group__latest-message
        まだメッセージがありません。
