.chat-main
  .main-header
    .group-box
      %p.group-box__current-group
        = @group.name
      %ul.group-box__member-list
        Member :
        - @group.users.each do |user|
          %li.group-box__member-list__member
            = user.name
    = link_to edit_group_path(@group), class: "edit-btn" do
      Edit
  .messages
    = render @messages
  .form
    =form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          =icon('far', 'image')
          =f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'
